html {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

h1 {
  border-bottom: solid #000;
}

.btn:hover {
  background-color: #000;
  color: #f2f2f2;
}

@media only screen and (min-width: 60em) {

  .padding-right {
    padding: 1rem;
  }

}
